.content {
  min-height: 100vh;
  .want-to-say {
    display: inline-block;
    margin-left: 30rpx;
    padding: 10rpx 14rpx;
    border-radius: 40rpx;
    border: 1px solid #ccc;
    font-size: 26rpx;
    text-align: center;
    image {
      width: 40rpx;
      height: 40rpx;
      vertical-align: middle;
    }
    text {
      vertical-align: middle;
    }
  }
  .at-tabs__item {
    font-size: 32rpx;
  }
  .at-tabs__item--active {
    color: #000;
    font-weight: bold;
  }
  .at-tabs__item-underline {
    height: 8px;
    background-color: #000;
  }
  .tab-content {
    background-color: #F6F6F6;
    .order-item {
      padding: 20rpx 30rpx;
      margin-bottom: 20rpx;
      font-size: 28rpx;
      background-color: #fff;
      .top {
        display: flex;
        justify-content: space-between;
        line-height: 1.7;
        .shop {
          font-size: 32rpx;
        }
      }
      .time {
        font-size: 26rpx;
        color: #B3B3B3;
      }
      .center {
        display: flex;
        justify-content: space-between;
        margin-top: 20rpx;
        .img {
          image {
            width: 140rpx;
            height: 140rpx;
            margin-right: 16rpx;
          }
        }
        .right {
          align-self: center;
          .amount {
            font-weight: bold;
            font-size: 30rpx;
          }
        }
      }
      .bottom {
        display: flex;
        justify-content: flex-end;
        margin-top: 20rpx;
        .at-button {
          margin: 0;
        }
      }
    }
  }
  .none {
    display: flex;
    flex-direction: column;
    text-align: center;
    .img {
      margin: 200rpx 0 50rpx;
      image {
        width: 300rpx;
        height: 300rpx;
      }
    }
    .txt {
      font-size: 28rpx;
      line-height: 1.7;
    }
    .btn {
      margin-top: 100rpx;
    }
    .at-button--primary {
      width: 400rpx;
      background-color: #FBB03B;
      border-color: #FBB03B;
      color: #fff;
    }
  }
}

